<!DOCTYPE html>
<html>
  <body>
    <ion-view title="{{note.title}}">
      <ion-content has-header="true" padding="true">
        <h3>Date Updated:</h3>
        <h4>{{moment(note.updated_at).format('MMMM Do YYYY @ h:mm:ss a')}}</h4>
        <h3>Note:</h3>
        <h4>{{note.body}}</h4>
        <h3>Tags:</h3>
        <div id="tags">
          <ol ng-repeat="tag in note.tags">
            <li>{{tag}}</li>
          </ol>
        </div>
        <h3>Photos:</h3>
        <button ng-click="snap()" class="button button-calm">Take Photo</button>
        <button ng-click="choose()" class="button button-energized">Choose Photo</button>
        <div ng-repeat="url in note.urls" class="item item-body"><img ng-src="{{url}}" class="full-image"></div>
      </ion-content>
    </ion-view>
  </body>
</html>