<!DOCTYPE html>
<html>
  <body>
    <ion-tabs class="tabs-icon-top">
      <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Notes" icon="icon ion-document-text" href="#/tab/notes">
        <ion-nav-view name="tab-notes"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Account" icon="icon ion-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </body>
</html>