html
  body
    ion-view(title='{{note.title}}')
      ion-content(has-header='true', padding='true')
        h3 Date Updated:
        h4 {{moment(note.updated_at).format('MMMM Do YYYY @ h:mm:ss a')}}
        h3 Note:
        h4 {{note.body}}
        h3 Tags:
        #tags
          ol(ng-repeat='tag in note.tags')
            li {{tag}}
        h3 Photos:
        .item.item-body(ng-repeat='url in note.urls')
          img.full-image(ng-src='{{url}}')
