html
  body
    ion-view(title='Dashboard')
      ion-content.padding
        h5(ng-show='!rootuser.username') Login to see your dashboard
        .list(ng-show='rootuser.username')
          a.item.item-thumbnail-left(href='#')
            img(ng-src='{{rootuser.avatar}}')
            h3{{rootuser.username}}
            h4 Number of notes: {{count}}
          button.button.button-assertive.loginButton(ng-click='logout(user)') Logout
              
