html
  body
    ion-tabs.tabs-icon-top
      ion-tab(title='Dashboard', icon='icon ion-home', href='#/tab/dash')
        ion-nav-view(name='tab-dash')
      ion-tab(title='Notes', icon='icon ion-document-text', href='#/tab/notes')
        ion-nav-view(name='tab-notes')
      ion-tab(title='Account', icon='icon ion-person', href='#/tab/account')
        ion-nav-view(name='tab-account')
