doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')    
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/controllers/account-controller.js')
    script(src='js/controllers/dashboard-controller.js')
    script(src='js/controllers/notedetail-controller.js')
    script(src='js/controllers/notes-controller.js')
    script(src='js/services.js')
    script(src='js/models/user.js')
    script(src='js/models/note.js')
    script(src='js/values/config.js')
      
  body(ng-app='starter', animation='slide-left-right-ios7')
    ion-nav-bar.bar-stable.nav-title-slide-ios7
      ion-nav-back-button.button-icon.icon.ion-ios7-arrow-back
        | Back
    ion-nav-view
